<body class="body-registration">
  <h1 class="h1-registration">Preencha com seus Dados</h1>

  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- <%= render "devise/shared/error_messages", resource: resource %> -->

    <div class="form-group">
      <%= f.label :name, "Nome:", class: "required" %>
      <%= error_messages_for_field(resource, :name) %>
      <%= f.text_field :name, id: "nome", placeholder: "Nome" %>
    </div>

    <div class="form-group">
      <%= f.label :student_id_number, "Número de matrícula:", class: "required" %>
      <%= error_messages_for_field(resource, :student_id_number) %>
      <%= f.text_field :student_id_number, id: "numero_matricula", placeholder: "Número de matrícula" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, "Número de Celular (whatsapp):", class: "required" %>
      <%= error_messages_for_field(resource, :phone_number) %>
      <%= f.phone_field :phone_number, id: "numero_matricula", placeholder: "(XX) XXXXX-XXXX" %> 
    </div>

    <div class="form-group">
      <%= f.label :email, "Email:", class: "required" %>
      <%= error_messages_for_field(resource, :email) %>
      <%= f.email_field :email, type: "text", id: "email", placeholder: "E-mail" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Senha: (mínimo de 6 caracteres)", class: "required" %>
      <%= error_messages_for_field(resource, :password) %>
      <%= f.password_field :password, type: "password-field", id: "Password", placeholder: "Senha", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirme sua senha:", class: "required" %>
      <%= error_messages_for_field(resource, :password_confirmation) %>
      <%= f.password_field :password_confirmation, type: "password-field", id: "Password Confirmation", placeholder: "Confirme sua senha", autocomplete: "off" %>
    </div>

    <div class="button-container">
      <% if current_user && current_user.admin? %>
      <%= link_to 'Voltar', spaces_path, class: "link-back-registration" %>
      <% else %>
      <%= link_to 'Voltar', new_user_session_path, class: "link-back-registration" %>
      <% end %>
      <%= f.submit "Cadastrar", id: "button-submit" %>
    </div>

    <% end %>
  </div>
</body>