<%= turbo_frame_tag "modal" do %>
  <%= stylesheet_link_tag('turbo_modal')%>
  <%= stylesheet_link_tag('reservation')%>

  <body class="body-reservation">
    <div id="modal" class="modal-overlay" data-modal-target="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h1-reservation"><%= title %></h1>
        </div>
        <div class="container">
          <%= body %>
        </div>
      </div>
    </div>
  </body>
<% end %>
