<div class="calendar-container" data-controller="calendar">
  <%= month_calendar(events: @reservations) do |date, reservations| %>
    <div class="day" data-date="<%= date %>" data-calendar-target="day">
      <%= date.day %>

      <% reservations.each do |reservation| %>
        <% reservation.shifts.each do |item| %>
          <% if reservation.shifts.present? %>
              <%= link_to edit_reservation_path(reservation), data: { turbo_frame: "modal" }, class: "link-to" do %>
                <div class="reservation-shift-<%= item %> <%= 'pending' if reservation.status == 'pending' %>">
                  <%= I18n.t("activerecord.attributes.reservation.shifts.#{item}") %>  
                </div>
              <% end %>  
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>