<%= stylesheet_link_tag ('space') %>
<%= form_with(model: @space, id: "space_form", data: { turbo_frame: "_top" }) do |f| %>
  <!-- Exibe mensagens de erro -->
  <%= render "devise/shared/error_messages", resource: @space %>
  
  <%= f.label :name, "Nome:", class: "required" %>
  <%= f.text_field :name, id: "nome", placeholder: "Nome" %>

  <%= f.label :location, class: "required" %>
  <%= f.text_field :location, id: "localizacao", placeholder: "Localização" %>

  <%= f.label :capacity, "Capacidade:", class: "required" %>
  <%= f.number_field :capacity, id: "capacidade", placeholder: "Capacidade" %>

  <div class="checkbox-group">
    <div>
      <%= f.label :board, "Quadro:", class: "required" %><br>
      <%= f.radio_button :board, true, id: 'quadro-sim' %> Sim
      <%= f.radio_button :board, false, id: 'quadro-nao' %> Não
    </div>
    <div>
      <%= f.label :laboratory, "Laboratorio:", class: "required" %><br>
      <%= f.radio_button :laboratory, true, id: 'laboratorio-sim' %> Sim
      <%= f.radio_button :laboratory, false, id: 'laboratorio-nao' %> Não
    </div>
    <div>
      <%= f.label :projector, "Projetor:", class: "required" %><br>
      <%= f.radio_button :projector, true, id: 'projetor-sim' %> Sim
      <%= f.radio_button :projector, false, id: 'projetor-nao' %> Não
    </div>
    <div>
      <%= f.label :accessibility, "Acessibilidade:", class: "required" %><br>
      <%= f.radio_button :accessibility, true, id: 'accebilidade-sim' %> Sim
      <%= f.radio_button :accessibility, false, id: 'accebilidade-nao' %> Não
    </div>
  </div><br>

  <!-- Botões de ação -->
  <div class="buttons-new">
    <%= link_to 'Voltar', spaces_path, class: "back-new link-back" %>

    <!-- Botão de confirmar -->
    <%= f.submit 'Confirmar', class: "button-submit-new" %>
  </div>
<% end %>
