<%= stylesheet_link_tag('space')%>

<body>
  <div class="container-space">
    <!-- Barra de pesquisa com filtros -->
    <div class="search-bar" data-controller="filter">
      <%= search_form_for @q, url: spaces_path, method: :get, remote: true, class: "search-form" do |f| %>
      <%= f.text_field :name_i_cont, placeholder: "Pesquisar espaços...", id: "search-input", class: "search-input", autocomplete: "off" %>

      <div class="icons-container">
        <input type="checkbox" id="filterToggle" class="filter-checkbox" style="display:none;" data-filter-target="filterToggle">
        <label for="filterToggle" class="filter-btn" data-action="click->filter#toggle">
          <%= image_tag "filtro.png", alt: "Filtro" %>
        </label>

        <!-- Botão submit que dispara a pesquisa ao clicar na lupa -->
        <button type="submit" class="search-btn">
          <%= image_tag "lupa.png", alt: "Pesquisar" %>
        </button>

        <% if current_user.admin? %>
        <input type="checkbox" id="historyToggle" class="history-checkbox" style="display:none;" data-filter-target="historyToggle">
        <label for="historyToggle" class="history-btn" data-action="click->filter#toggleHistoryFilter">
          <%= image_tag "icone-impressora.png", alt: "Imprimir Histórico" %>
        </label>
        <% end %>
      </div>

      <!-- Filtros -->
      <div class="filters" data-filter-target="filters">
        <div class="profile-header">
          <h4>Filtro de Pesquisa</h4>
        </div>

        <label>Capacidade mínima:
          <%= f.number_field :capacity_gteq, id: "number-search", autocomplete: "off" %>
        </label>
        <label>Capacidade máxima:
          <%= f.number_field :capacity_lteq, id: "number-search", autocomplete: "off" %>
        </label>
        <label>Quadro?
          <%= f.radio_button :board_eq, true, checked: false %> Sim
          <%= f.radio_button :board_eq, false, checked: false %> Não
        </label>
        <label>Projetor ?
          <%= f.radio_button :projector_eq, true, checked: false %> Sim
          <%= f.radio_button :projector_eq, false, checked: false %> Não
        </label>
        <label>Laboratório ?
          <%= f.radio_button :laboratory_eq, true, checked: false %> Sim
          <%= f.radio_button :laboratory_eq, false, checked: false%> Não
        </label>
        <label>Para PCDs ?
          <%= f.radio_button :accessibility_eq, true, checked: false %> Sim
          <%= f.radio_button :accessibility_eq, false, checked: false%> Não
        </label>

        <div class="button-container-space">
          <%= f.submit 'Aplicar Filtros', class: "submit-tag" %>
        </div>
        <% end %>
      </div>
      <div class="history-filter-options" data-filter-target="historyFilterOptions" style="display: none;">
        <%= render "history_filter" %>
      </div>
    </div>

    <div class="spaces-grid">
      <% if @spaces.any? %>
      <% @spaces.each do |space| %>
      <!-- Bloco do espaço com a classe space-item -->
      <div class="space-item <%= 'disabled' if !space.active? %>" id="space_item_<%= dom_id(space) %>">
        <%= render partial: "space_details", locals: { space: space } %>
      </div>
      <% end %>
      <% else %>
      <p><%= @q.result.present? ? "Nenhum resultado encontrado para sua busca." : "Nenhum espaço cadastrado ainda" %></p><br>
      <p></p><br>
      <% if current_user.admin? && !@any_spaces_exist %>
      <%= link_to "Cadastrar Espaço", new_space_path, data: { turbo_frame: "modal" } %>
      <% end %>
      <% end %>
    </div>
  </div>
</body>