<body class="body-pdf">
  <div class="chapter budget">
    <div id="header-pdf"> 
      <h1>Histórico de reservas <%= @space.name %></h1>
    </div>
    <% if @reservations_history.any? %>
      <table>
        <thead>
          <tr>
            <th>Reservante</th>
            <th>Informação da Reserva</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Turno</th>
          </tr>
        </thead>

        <tbody>
          <% @reservations_history.each do |reservation| %>
            <tr>
              <td><%= reservation.user.name %></td>
              <td><%= reservation.booking_information %></td>
              <td><%= reservation.start_date.strftime("%d/%m/%Y") %></td>
              <td><%= reservation.end_date.strftime("%d/%m/%Y") %></td>
              <td>
                <%= Reservation.ordered_shifts.map do |shift|
                  "<div>#{Reservation.translate_shifts([shift]).first}</div>" if reservation.shifts.include?(shift)  
                end.compact.join.html_safe %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Nenhuma reserva encontrada no intervalo selecionado.</p>
    <% end %>
  </div>
</body>
