<body class="body-registration">
  <h1 class="h1-registration">Altere sua senha</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="container-password">

      <div class="form-group">
        <%= f.label :password, "Nova senha (mínimo de 6 caracteres)", class: "required" %>
        <%= f.password_field :password, autofocus: true, placeholder: "Nova senha" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, t('.confirm_new_password'), class: "required" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirme sua senha" %>
      </div>

      <div class="buttons">
        <%= f.submit "Alterar minha senha", id: "button-submit" %>
      </div>
  <% end %>
</body>
